$verde:  #4cd3c2;
$crema:  #f9f7f7;
$oscuro: #000000;
$azul: #537791;

@mixin contenedor {
	width: 100%;
	margin:0px, auto;
	display:grid;
	grid-gap: 20px;
}

body{
	background-color: $oscuro;
	font-family: overpass mono, sans-serif;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1.5px;
	word-spacing: 1.2px;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
	max-width: 100%
}

footer {
	display: flex;
	background-color: $oscuro;
	opacity: 0.6;
	line-height: 3;
	align-self: flex-end;
	justify-content: space-between;
	ul{
		li{
			color: $crema;
		}
			a{	color:$crema;
			text-decoration: none;
			&:hover{
				color: $verde;
			}
			
		}
	}

  }

header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	nav{
		padding: 1rem;
		margin-left: 20px;
		padding-left: 0;
		display: inline-block;
		font-size: 13px;
		margin-left: 16px;
		a{
			color: $crema;
			text-decoration: none;
			&:hover{
				color: $verde;
			}
		}
	}
}


h1{
	color: $crema;
	font-family: roboto, sans-serif;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1.5px;
	word-spacing: 1.2px;
}

.lista-horizontal {
	margin-left: 20px;
	padding-left: 0;	
	li {
		display: inline-block;
		font-size: 13px;
		li {
		margin-left: 16px;
		}
	}
}


.contenedor-servicios {
	@include contenedor();
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas: "header header header"
						 "contenido-s contenido-s contenido-s"
						 "aside-1 aside-2 aside-3"
						 "img-t1 main-t1 main-t1"
						 "img-t2 main-t2 main-t2" 
						 "img-t3 main-t3 main-t3"
					     "footer footer footer";
}

.contenedor-bio {
	@include contenedor();
	grid-template-columns: 3(1fr);
	grid-template-rows: auto auto auto;
	grid-template-areas: "header header header"
						 "main main main"
					     "footer footer footer";
}

/*.contenedor-proyectos{
	@include contenedor();
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header header"
						 "main main main"
					     "footer footer footer";
}*/

/*.contenedor-contacto {
	@include contenedor();
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header"
						 "contenido-c contenido-c contenido-c"
					     "footer footer footer";
}*/

.contenedor-testimonios {
	@include contenedor();
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: "header header header"
						 "img-t1 main-t1 main-t1"
						 "img-t2 main-t2 main-t2" 
						 "img-t3 main-t3 main-t3"
					     "footer footer footer";
}

.main-testimonios{
	display: flex;
	margin: 0px 60px 30px 30px;
	padding:20px;
	align-self: center;
	display: inline-block;
	height: 70px;
	transition-property: transform;
	overflow: hidden;

}
.main-t1 {
	grid-area: main-t1;
	@extend.main-testimonios;
	color: $crema;
	background-color:$crema; 
	&:hover{
		height:140px;
		transition: .6s ease-in;
		background-color:$azul; 
	}
}

.main-t2 {
	grid-area: main-t2;
	color: $azul;
	background-color: $azul;
	@extend.main-testimonios;
	&:hover{
		height:140px;
		transition: .6s ease-in;
		background-color:$crema; 
	}
	
}

.main-t3 {
	grid-area: main-t3;
	@extend.main-testimonios;
	color: $crema;
	background-color:$crema; 
	&:hover{
		height:140px;
		transition: .6s ease-in;
		background-color:$azul; 
	}
}

.contenido-s {
	grid-area: contenido-s;
	display: flex;
	justify-content: center;
	padding-bottom: 500px;
	padding-top: 20rem;
	background-image: url(../img/imagen-servicios1.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: auto;
	background-attachment: fixed;

}

.header{
	grid-area: header;
}

.footer{
	grid-area: footer;
	width: 96.8%;
}

.footer-c{
	width: 100%;
}


.subtitulos{
	size: 25px;
	display: flex;
	justify-content: center;
	align-self: center;
}

.subtitulos-t{
	color: #537791;
	@extend.subtitulos;
}

.subtitulos-t2{
	color: #ebebe3;
	@extend.subtitulos;
}

.img{
	display: flex;
	justify-content:flex-end;
	align-self: center;
	margin-bottom:100px;
	margin-top: 50px;
}

.img-t1 {
	grid-area: img-t1;
	@extend.img;
}

.img-t2 {
	grid-area: img-t2;
	@extend.img;
}

.img-t3 {
	grid-area: img-t3;
	@extend.img;
}

.imagen{
	display: flex;
	width: 200px;
	height: 200px;
}

.aside{
	display: flex;
	display: inline-block;
	justify-content: center;
	padding:50px;
	background-color: $crema;
}
.aside-1{
	grid-area: aside-1;
	@extend.aside;
	margin-left: 70px;
}

.aside-2{
	grid-area: aside-2;
	@extend.aside;
	margin: 0px 35px 0 35px;
}

.aside-3{
	grid-area: aside-3;
	@extend.aside;
	margin-right: 70px;
}

.footer-index {
	position: absolute;
	width: 100%;
}

.header-index{
	align-self: flex-start;
	width: 100%;
}

.h1-index{ 
	font-size: 10px;
	margin: 0px 20px 0px 30px;
	font-family: roboto, sans-serif; 
}

.h1-index-contacto{ 
	font-size: 10px;
	margin: 10px 20px 0px 30px;
	font-family: roboto, sans-serif; 
}

.h1-servicios{
	font-size: 50px;
	font-family: roboto, sans-serif; 
	color: $verde;
	animation-duration: 1s;
	animation-name: focus-in-contract-bck;
}

@keyframes focus-in-contract-bck{
	0%{letter-spacing:1em;
		transform:translateZ(300px);
		filter:blur(12px);
		opacity:0}100%{transform:translateZ(12px);
		filter:blur(0);opacity:1}
}

.encabezado{
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 100px; 
	width:100px;
	display: inline-block;
	margin: 50px 20px 0px 50px;
	padding: 0px 20px 0px 0px;
}

.logo-contacto {
	height: 100px; 
	width:120px;
	display: inline-block;
	margin: 50px 20px 0px 50px;
	padding: 0px 20px 0px 0px;
}

.rrss{
	height: 25px; 
	width:25px;
}

.color-menu-fijo{
	color: $verde;
}

.menu{
	/*margin: 100px 70px 100px 50px;*/
	position: absolute;
	right: 70px;
	top: 100px;
}

.color-menu-fijo{
	color: $verde;
}

.menu{
	/*margin: 100px 70px 100px 50px;*/
	position: absolute;
	right: 70px;
	top: 100px;
}

.parrafo-strong {
	color: $verde;
	border-bottom-style: dotted;
	border-width: 1px;
	border-color: $crema;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.parrafo-claro {
	color: $crema;
}

.parrafo-destacado {
	color:$verde; 
}

.p-a-la-derecha{
	display: inline-block;
	margin-left: 720px;
	padding-right: 80px;
}

.parrafo-servicios{
	color: $azul;
}

.subtitulos{
	color: $verde;
	size: 16px;
	display: flex;
	justify-content: center;
}

.background-index{
	background-clip: url(../videos/video-prueba.mp4)
}

.video-index{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	width: 100%;
}

.videos {
	width: 100%;
	max-width:560px;
	object-fit: inherit;
}

.background-bio{
	background-image: url(../img/bio.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: auto;
	background-attachment: fixed;
	padding-top: 12rem;

}

.biografia{
	margin: 0px;
	padding: 5px;
	height: 50%;
	width: 500px;
}

.contacto{
	color:$crema;
	font-family: overpass mono, sans-serif;
	font-size: 13px;
	text-align: left;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.enlaces-formulario{
	
	font-family: overpass mono, sans-serif;
	font-size: 13px;  
	margin: 50px 0px 50px 50px;
	background: rgba(0,0,0,0.4);
	color: $crema;
	padding: 10px 20px;
	width: 450px;
	text-align: left;
	box-sizing: border-box;
	border-radius: 7px;
}

h2{
	color:$crema;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	border: none;
}

textarea{
	min-height: 100px;
	max-height: 200px;
	min-width: 100%;
}

#boton {
	background:$verde;
	color: $crema;
	{
		&:hover{
			cursor: pointer;
		}
	}
}

.enlaces-testimonios{
	color:$verde;
	text-decoration: none;  
}

/*gradientes*/

.bg-gradiente{
	background: rgba(76,211,194,1);
    background: linear-gradient(45deg, 
                rgba(76,211,194,1) 0%, 
                rgba(173,226,214,1) 0%, 
                rgba(76,211,194,1) 0%, 
                rgba(76,211,194,1) 0%, 
                rgba(76,211,194,1) 7%, 
                rgba(43,107,97,1) 43%, 
                rgba(42,64,61,1) 62%, 
                rgba(14,15,15,1) 98%, 
                rgba(14,15,15,1) 100%);
}

.videoclips{
	display: flex;
	color:$crema;
	align-self: center; 
	justify-content: center;
	margin:100px;
}

.proyectos-prueba{
	padding-top: 12rem;
}

.body-contacto{
	background-image: url(../img/contacto1.jpg);
	background-position: center;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	overflow: auto;
	background-attachment: fixed;
	padding-top: 12rem;
}



