body {
  background-color: #000000;
  font-family: overpass mono, sans-serif;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1.5px;
  word-spacing: 1.2px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  opacity: 0.6;
  line-height: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li {
  color: #f9f7f7;
}

footer ul a {
  color: #f9f7f7;
  text-decoration: none;
}

footer ul a:hover {
  color: #4cd3c2;
}

header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

header nav {
  padding: 1rem;
  margin-left: 20px;
  padding-left: 0;
  display: inline-block;
  font-size: 13px;
  margin-left: 16px;
}

header nav a {
  color: #f9f7f7;
  text-decoration: none;
}

header nav a:hover {
  color: #4cd3c2;
}

h1 {
  color: #f9f7f7;
  font-family: roboto, sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  word-spacing: 1.2px;
}

.lista-horizontal {
  margin-left: 20px;
  padding-left: 0;
}

.lista-horizontal li {
  display: inline-block;
  font-size: 13px;
}

.lista-horizontal li li {
  margin-left: 16px;
}

.main, .main-t1, .main-t2, .main-t3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 60px 30px 30px;
  padding: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  display: inline-block;
  height: 70px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  overflow: hidden;
}

.main-t1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main-t1;
  color: #f9f7f7;
  background-color: #f9f7f7;
}

.main-t1:hover {
  height: 140px;
  -webkit-transition: .6s ease-in;
  transition: .6s ease-in;
  background-color: #537791;
}

.main-t2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main-t2;
  color: #537791;
  background-color: #537791;
}

.main-t2:hover {
  height: 140px;
  -webkit-transition: .6s ease-in;
  transition: .6s ease-in;
  background-color: #f9f7f7;
}

.main-t3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main-t3;
  color: #f9f7f7;
  background-color: #f9f7f7;
}

.main-t3:hover {
  height: 140px;
  -webkit-transition: .6s ease-in;
  transition: .6s ease-in;
  background-color: #537791;
}

.contenedor-servicios {
  width: 100%;
  margin: 0px, auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "header header header" "contenido-s contenido-s contenido-s" "aside-1 aside-2 aside-3" "footer footer footer";
}

.contenedor-bio {
  width: 100%;
  margin: 0px, auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 3 1fr;
      grid-template-columns: 3 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/*.contenedor-proyectos{
	@include contenedor();
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header header"
						 "main main main"
					     "footer footer footer";
}*/
/*.contenedor-contacto {
	@include contenedor();
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header"
						 "contenido-c contenido-c contenido-c"
					     "footer footer footer";
}*/
.contenedor-testimonios {
  width: 100%;
  margin: 0px, auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
      grid-template-areas: "header header header" "img-t1 main-t1 main-t1" "img-t2 main-t2 main-t2"  "img-t3 main-t3 main-t3" "footer footer footer";
}

.contenido-s {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido-s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 500px;
  padding-top: 150px;
  background-image: url(../img/imagen-servicios1.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: auto;
  background-attachment: fixed;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  width: 96.8%;
}

.footer-c {
  width: 100%;
}

.subtitulos, .subtitulos-t, .subtitulos-t2 {
  size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.subtitulos-t {
  color: #537791;
}

.subtitulos-t2 {
  color: #ebebe3;
}

.img, .img-t1, .img-t2, .img-t3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.img-t1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-t1;
}

.img-t2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img-t2;
}

.img-t3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: img-t3;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
}

.aside, .aside-1, .aside-2, .aside-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  background-color: #f9f7f7;
}

.aside-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside-1;
  margin-left: 70px;
}

.aside-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: aside-2;
  margin: 0px 35px 0 35px;
}

.aside-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: aside-3;
  margin-right: 70px;
}

.footer-index {
  position: absolute;
  width: 100%;
}

.header-index {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.h1-index {
  font-size: 10px;
  margin: 0px 20px 0px 30px;
  font-family: roboto, sans-serif;
}

.h1-index-contacto {
  font-size: 10px;
  margin: 10px 20px 0px 30px;
  font-family: roboto, sans-serif;
}

.h1-servicios {
  font-size: 50px;
  font-family: roboto, sans-serif;
  color: #4cd3c2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: focus-in-contract-bck;
          animation-name: focus-in-contract-bck;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 50px 20px 0px 50px;
  padding: 0px 20px 0px 0px;
}

.logo-contacto {
  height: 100px;
  width: 120px;
  display: inline-block;
  margin: 50px 20px 0px 50px;
  padding: 0px 20px 0px 0px;
}

.rrss {
  height: 25px;
  width: 25px;
}

.color-menu-fijo {
  color: #4cd3c2;
}

.menu {
  /*margin: 100px 70px 100px 50px;*/
  position: absolute;
  right: 70px;
  top: 100px;
}

.color-menu-fijo {
  color: #4cd3c2;
}

.menu {
  /*margin: 100px 70px 100px 50px;*/
  position: absolute;
  right: 70px;
  top: 100px;
}

.parrafo-strong {
  color: #4cd3c2;
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: #f9f7f7;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.parrafo-claro {
  color: #f9f7f7;
}

.parrafo-destacado {
  color: #4cd3c2;
}

.p-a-la-derecha {
  display: inline-block;
  margin-left: 720px;
  padding-right: 80px;
}

.parrafo-servicios {
  color: #537791;
}

.subtitulos, .subtitulos-t, .subtitulos-t2 {
  color: #4cd3c2;
  size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-index {
  background-clip: url(../videos/video-prueba.mp4);
}

.video-index {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  width: 100%;
}

.videos {
  width: 100%;
  max-width: 560px;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.background-bio {
  background-image: url(../img/bio.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: auto;
  background-attachment: fixed;
}

.biografia {
  margin: 0px;
  padding: 5px;
  height: 50%;
  width: 500px;
}

.contacto {
  color: #f9f7f7;
  font-family: overpass mono, sans-serif;
  font-size: 13px;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.enlaces-formulario {
  color: #f9f7f7;
  font-family: overpass mono, sans-serif;
  font-size: 13px;
  margin-left: 50px;
}

.sub-enlaces-formulario {
  margin-bottom: 20px;
  width: 100px;
  text-align: left;
}

.enlaces-testimonios {
  color: #4cd3c2;
  text-decoration: none;
}

/*gradientes*/
.bg-gradiente {
  background: #4cd3c2;
  background: linear-gradient(45deg, #4cd3c2 0%, #ade2d6 0%, #4cd3c2 0%, #4cd3c2 0%, #4cd3c2 7%, #2b6b61 43%, #2a403d 62%, #0e0f0f 98%, #0e0f0f 100%);
}

.videoclips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f9f7f7;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px;
}
/*# sourceMappingURL=prueba.css.map */